:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Geist', sans-serif;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
}

